**/.DS_Store
Human_DLPFC_OTS-19_4277.tif
.Rproj.user
sample_data/
Analysis/archive/SpatialDE_analyses/**/*.html
outputs/archive/*
plots
plots/archive/*
Analysis/SpatialDE_subsampling_comparison_cache/
Analysis/SpatialDE_subsampling_comparison_files/
Analysis/SpatialDE_genes_analysis_cache/
Analysis/SpatialDE_genes_analysis_files/
Analysis/SpatialDE_genes_analysis.html
