**/.DS_Store
Human_DLPFC_OTS-19_4277.tif
.Rproj.user
plots
sample_data/
Analysis/Comparison_SpatialDE_genes_pooled_cache/
Analysis/Comparison_SpatialDE_genes_pooled_files/
Analysis/Comparison_SpatialDE_genes_pooled.html
Analysis/Clustering_PCA_UMAP_SpatialDE_spatial_cache/
Analysis/Clustering_PCA_UMAP_SpatialDE_spatial_files/
Analysis/Clustering_PCA_UMAP_SpatialDE_spatial.html
Analysis/archive/SpatialDE_analyses/**/*.html
Analysis/SpatialDE_subsampling_comparison_cache/
Analysis/SpatialDE_subsampling_comparison_files/
